html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, 
, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

li {
  list-style: none !important; }

body {
  font-family: sans-serif;
  font-size: 13px;
  color: #222222;
  background: #dddddd; }

#wrapper {
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#ddd), color-stop(.97,#eee));
  width: 800px;
  margin: 15px auto;
  padding: 15px;
  -moz-box-shadow: 0 2px 3px #777777;
  -webkit-box-shadow: 0 2px 3px #777777; 
  -moz-box-shadow: 0 2px 5px #444;
  -webkit-box-shadow: 0 2px 5px #444;
/*  -webkit-box-shadow: 0 0px 190px #bbb inset;*/
	-webkit-border-radius: 15px;
}

h1 {
  font-size: 20px;
  font-weight: bold; }

h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #cccccc;
}
ul#links {
  margin-top: 10px; }

a {
  color: #2971ae; }

/* form */
form .text_field, form .password_field {
  margin: 10px 0; }
form #user_submit, form #session_submit {
  margin-left: 170px; }
form abbr {
  display: none; }
form label {
  display: block;
  text-transform: capitalize;
  float: left;
  text-align: right;
  width: 150px;
  padding: 1px 20px 3px 0;
  font-weight: bold; }
form input, form textarea {
  display: block; }
form input[type=text] {
  width: 400px; }
form fieldset{
	border: none !important;
}
form fieldset.buttons {
  margin-top: 10px; }
form fieldset.inputs li {
  display: block;
  clear: all;
  padding: 10px 0;
  border-bottom: 1px solid #ebebeb; }
form fieldset.inputs textarea, form fieldset.inputs input, form fieldset.inputs select {
  background: url("/images/fieldbg.gif") repeat-x scroll center top white;
  border-color: #7c7c7c #c3c3c3 #dddddd;
  border-style: solid;
  border-width: 1px;
  padding: 3px; }
form fieldset.inputs li.boolean input {
  display: inline; }
form fieldset.inputs li.boolean label {
  float: none; }
form fieldset.inputs li.date legend.label {
  float: left; }
form fieldset.inputs li.date ol {
  float: left; }
  form fieldset.inputs li.date ol li {
    display: inline;
    border: none; }
    form fieldset.inputs li.date ol li label {
      display: none; }
    form fieldset.inputs li.date ol li select {
      padding: 3px; }
form li#account_is_hidden_input {
  border: none; }
  form li#account_is_hidden_input input, form li#account_is_hidden_input label {
    display: inline;
    text-align: left; }
  form li#account_is_hidden_input label {
    margin-left: 170px; }
  form li#account_is_hidden_input input {
    margin-left: 0;
    padding-left: 0; }
form fieldset.buttons {
  margin-left: 170px; }
form .current_image {
  margin: 10px 0 0 0; }
  form .current_image img {
    margin-top: 0px;
    border: 1px solid #cccccc; }

/* DATA LIST */
table.data_list {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%; }
  table.data_list tbody tr:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e6e6e6)) !important; /* for webkit browsers */
    background: -moz-linear-gradient(top,  #eee,  #e6e6e6) !important; /* for firefox 3.6+ */
}
	table.data_list tbody tr:hover td, table.data_list tbody tr:hover a{
/*		color: #fff;*/
	}
  table.data_list td, table.data_list th {
		white-space: nowrap;
		text-overflow: ellipsis;
    padding: 6px 6px;
    border: 1px solid #d7d7d7;
    border-right: none;
    border-left: none; }
  table.data_list th {
    font-weight: bold;
/*    background: #999999;*/
/*    border: 1px solid #999999;*/
/*    border-bottom: 2px solid #666666;*/
/*    border-left: none;*/
    color: white; }
	table.data_list  thead tr{
		background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#888))!important;
	}
  table.data_list td.actions {
    width: 32px; }
    table.data_list td.actions a {
      display: block;
      height: 16px;
      width: 16px;
      float: left; }
  table.data_list td.preview {
    width: 50px;
    padding: 2px 0; }
    table.data_list td.preview a {
      display: block;
      height: 16px;
      width: 16px;
      float: left; }
  table.data_list td.incoming, table.data_list td.outgoing, table.data_list td.tranferring {
    width: 16px; }
  table.data_list th.th_col {
    width: 120px; }
  table.data_list th.ph_col {
    width: 200px; }
  table.data_list th.action {
    width: 40px; }
  table.data_list td a {
    text-transform: capitalize; }
  table.data_list td.incoming {
    background: #b4cf66; }
  table.data_list td.outgoing {
    background: #ff5a33; }
  table.data_list td.transferring {
    background: #ffec5c; }
  table.data_list td.thai {
    font-size: 17px;
    padding: 1px 6px;
		
	}
	table.data_list td.thai a{
		text-decoration: none;
	}
	ul.links {
		margin-top: 20px; 
		padding: 0;
	}
  ul.links li {
    display: inline; }

a.add_link, a.back_link, a.edit_link, a.delete_link {
  padding-left: 18px;
  padding-right: 4px; }

a.add_link {
  background: url("/images/add.png") left center no-repeat; }

a.back_link {
  background: url("/images/back.png") left center no-repeat; }

a.edit_link {
  background: url("/images/edit.png") left center no-repeat; }

a.delete_link {
  background: url("/images/delete.png") left center no-repeat; }

ul#nav {
  margin-bottom: 20px;
  text-align: right; }
  ul#nav li {
    display: inline;
    padding: 3px; }

div.pagination {
  padding-top: 20px;
  float: right; }

#help{
  display: none;
	background: none;
	min-height: 0px !important;
}
.ui-dialog-titlebar-close{
	display: none !important;
}

div.ui-dialog-titlebar{
	background: none !important;
	border: none !important;
	border-bottom: 1px solid #fff !important;
	color: rgba(255,255,255,0.9) !important;
	border-color: rgba(255,255,255,0.4) !important;
	font-size: 0.85em !important;
}
#help li{
	background: none;
	color: rgba(255,255,255,0.9);
}
.ui-dialog, .ui-widget-content {
	background: none !important;
	border: none !important;
}

.ui-dialog{
	background: rgba(0,0,0,0.75) !important;
	-webkit-border-radius: 8px !important;
	-webkit-box-shadow: 0px 2px 6px #444;
}