html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1.5; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

table, td, th {
  vertical-align: middle; }

blockquote:before, blockquote:after {
  content: ""; }

q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

li {
  list-style: none !important; }

body {
  font-family: sans-serif;
  font-size: 13px;
  color: #222;
  background: #CDCDCD !important; }

#flash_card_container {
  width: 375px;
  height: 390px;
  margin: 40px auto; }
  #flash_card_container #flash_card {
    width: 258px;
    height: 390px;
    margin: 0 auto;
    background: url('/images/flash_card.png') no-repeat; }
  #flash_card_container #left_card a, #flash_card_container #right_card a {
    text-indent: -100000px;
    display: block;
    height: 54px;
    width: 48px;
    font-size: 0px;
    line-height: 0px;
    margin-top: 160px; }
  #flash_card_container #left_card a {
    background: url('/images/arrows.png') no-repeat left center;
    float: left; }
  #flash_card_container #right_card a {
    background: url('/images/arrows.png') no-repeat right center;
    float: right;
    margin-right: 2px; }
  #flash_card_container #left_card a:hover, #flash_card_container #left_card a.hover {
    background: url('/images/arrows.png') no-repeat -98px 0; }
  #flash_card_container #right_card a:hover, #flash_card_container #right_card a.hover {
    background: url('/images/arrows.png') no-repeat -48px 0; }
  #flash_card_container #thai {
    font-size: 60px;
    text-align: center;
    padding: 70px 0;
    color: #666;
    height: 90px;
    line-height: 90px; }
  #flash_card_container #english, #flash_card_container #pronunciation {
    padding: 0 10px;
    text-align: center;
    min-height: 26px;
    line-height: 18px; }
  #flash_card_container #english {
    font-size: 17px;
    margin-top: 74px; }
  #flash_card_container #pronunciation {
    color: #999;
    font-size: 13px; }
